.smoke{
    animation: animateSmoke 1s linear alternate-reverse infinite;
}
@keyframes animateSmoke {
    to {
      opacity: 1;
      transform: scale(.98) translateY(-10px);
    }
  }


.arrow{
    animation: animateArrow 1s linear alternate-reverse infinite;
}
@keyframes animateArrow {
    to {
      opacity: 1;
      transform: scale(.98) translateX(20px) translateY(-20px);
    }
  }  
  .mic{
    animation: animateMic 1s linear alternate-reverse infinite;
}
@keyframes animateMic {
    to {
      opacity: 1;
      transform: scale(.98) rotate(30deg)
    }
  }  
  .mic1{
    animation: animateMic1 1s linear alternate-reverse infinite;
  }
  @keyframes animateMic1 {
    to{
      opacity: 1;
      transform: scale(.98) rotate(30deg) translateY(22px) translateX(8px)
    }
  }

  .graph{
    width: 12.94px;
    animation: animateGraph 2s linear  infinite;
  }
  @keyframes animateGraph {
    0% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.1);
    }
  }

  .graph-2{
    width: 12.94px;
    animation: animateGraph1 2s linear  infinite;

  }
  @keyframes animateGraph1 {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

